@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body{
    display: grid;

    height: 100%;
    width: 100%;

    margin: 0%;
}

#heading{
    display: grid;

    height: 220px;

    align-items: center;
    justify-items: center;

    border-style: solid;
    border-image: url("/src/pieborder.png") 30 0% repeat;
    border-width: 0 0 20px 0;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

li{
    display: inline;
    border-style: solid;
    margin: 10px;
    padding: 5px;
}

.inactive{
    background-color: white;
}

.inactive:hover{
    cursor: pointer;
    border-width: 1px;
    font-weight: bold;
}

.active{
    background-color: rgb(151, 142, 126);
}

#content{
    display: grid;

    height: 80vh;
    width: 100%;

    align-items: center;
    justify-items: center;

}

#menuHeading{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.background{
    display: grid;

    height: 100%;
    width: 100%;

    background-image: url("/src/background.jpg");

    justify-items: center;
}

.infoPage{
    display: grid;

    justify-items: center;

    width: 500px;
    height: auto;
    margin: 20px;

    border-style: solid;

    background-color: rgba(255, 255, 255, 0.61);
}

.border1{
    border-width: 0px 60px 0px 60px;
    border-image: url('/src/creampuff.png') 0 60 round;
}

.border2{
    border-width: 30px 30px 30px 30px;
    border-image: url('/src/candy.png') 25% round;
}

.border3{
    border-width: 60px 60px 60px 60px;
    border-image: url('/src/cupcake.png') 25% round;
}

.paragraphs{
    text-align: center;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Emilys Candy', cursive;

    margin: 10px;


}

.firstImage{
    width: 50%;
    height: 50%;
}